# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.class

# Distribution / packaging
dist/
build/
*.egg-info/

# Virtual environments
venv/
env/
ENV/

# Environment variables
.env

# IDE files
.idea/
.vscode/

# Jupyter Notebook
.ipynb_checkpoints

# Data files
*.csv
*.json
*.pkl

# Logs
logs/
*.log

